*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font: 16px;
}
.main-nav{
  background-color: rgb(255, 0, 0);
  height: auto;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;

}
.container{
  width: 100%;
  margin:0 auto;
}
.map-icon{
  color: rgb(255, 0, 0);
}
.link a{
  color: #ccc;
}
.map-icon,.stateName,.link{
  margin-left: 5px;
}
.travel-img{
  width: 400px;
  height: 300px;
  border-radius: 9px;
}
.travel-container{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.travel-stats{
  margin-left: 15px;
}
.travel-stats h1{
  line-height: 10px;
}
.text-description{
  width: 90%;
}